/* ==|====================
   Documentation
   ======================= */

//__ CODE

code,
kbd,
pre,
samp {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}

code {
}
.docs-code-live {
  margin-bottom: 16px;
}
//____

body {
  background: $body-bg;
  color: $body-color;
}

a {
  text-decoration: none;
  color: #434A54
}

.welcome {
  padding: 15px;
  margin: 0;
  text-align: center;
}
.docs-page-title {}
.docs-heading {}

.header-docs {
  //height: 45px;
  padding: 25px 0;
  background: #2f353b;
  .menu-docs {
    float: right;
    margin: 18px 0 0;
    .nav-inline {
      a {
        text-decoration: none;
        color: #656D78;
        //line-height: 45px;
        @include hover {
          color: lighten(#656D78, 20%);
        }
      }
    }
  }
}

.header__title {
  clear: both;
  float: left;
  width: 100%;
  text-align: center;
  color: #fff;
  margin: 80px 0 15px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.8);
  font-size: 28px;
}
.header__download {
  float: left;
  text-align: center;
  margin: 10px auto 0;
  width: 100%;
  color: #fff;
}
.header__git {
  display: inline-block;
  padding: 0 25px;
  line-height: 40px;
  background: rgba(0,0,0,0.6);
  &:before {
    content: '$';
    color: #bc6897;
    position: relative;
    left: -10px;
  }
  input {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    width: 310px;
    font-size: rem(14);
    color: #fff;
    background: transparent;
  }
}

.doc-exemple {
  position: relative;
  padding: 1.5rem;
  margin: 1rem 0;
  border: .2rem solid #f7f7f9;

  .row > [class^="col-"] {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(101, 109, 120, 0.3);
    border: 1px solid rgba(101, 109, 120, 0.35);
  }
  .row + .row {
    margin-top: 1rem;
  }

  > img + img {
    margin-left: .5rem;
  }

}